@page "/"

<PageTitle>Home</PageTitle>
<header>
    <h1>Welcome to Acme Corporation</h1>
</header>

<section>
    <p>Explore our innovative products and enter our draw for a chance to win exciting prizes!</p>
    <p>To participate, you must have a valid serial number from purchasing one of our products.</p>
    <p>You can enter the draw twice for every valid serial number. Participants must be at least 18 years old.</p>
</section>

@for (var i = 1; i <= 3; i++)
{
    @* var imageId = i;
    <button @onclick="() => ShowImage(imageId)">
        Image @imageId
    </button> *@
}

@code {
    // private string? imageSource;

    // private void ShowImage(int id)
    // {
    //     imageSource = $"images/image{id}.png";
    // }
}